.env
.venv/
__pycache__/
*.py[cod]
*$py.class
.DS_Store
tcc_implementation/db_local_*/
tcc_implementation/preds_*.jsonl
tcc_implementation/eval_b_*.jsonl
tcc_implementation/*backup*.jsonl
tcc_implementation/timings_*.csv
semeval/corpora/document_level/*.jsonl
semeval/corpora/document_level/*.zip
semeval/corpora/passage_level/*.jsonl
semeval/corpora/passage_level/*.zip
semeval/corpora/document_level/zip/
semeval/corpora/passage_level/zip/